.level-filter {
  margin-bottom: 50px;
}

.description-level {
  background-color: #4e73df;
  border: none;
  color: white;
  padding: 5px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
}

.bar-chart {
  height: 100%;
  width: 100%;
}

.total-duration {
  background-color: #4e73df;
}

.total-idle {
  background-color: #1cc88a;
}

.recharts-cartesian-axis-ticks {
  font-size: 0.85rem;
}