.activity-container {
  width: 100%;
  max-width: 1300px;
  padding: 0 30px;
  margin: 32px auto;
}

.activity-container header {
  display: flex;
  align-items: center;
}

.activity-container header span {
  font-size: 20px;
  margin-left: 24px;
}


.activity-container header a {
  width: 260px;
  margin-left: auto;
  margin-top: 0;
}

.activity-container header button {
  height: 60px;
  width: 60px;
  border-radius: 4px;
  border: 1px solid #dcdce6;
  background: transparent;
  margin-left: 16px;
  transition: border-color 0.2s;
}

.activity-container header button:hover {
  border-color: #999;
}

.activity-container h1 {
  margin-top: 80px;
  margin-bottom: 24px;
}

.activity-container ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 24px;
  list-style: none;
}

.activity-container ul li {
  background: #FFF;
  padding: 24px;
  border-radius: 8px;
  position: relative;
}


.search-bar{
  margin: 30px;
}

.row {
  margin: 30px;
}
.card {
  padding: 30px;
  text-align: center;
  font-size: 20px;
}